/* CODE stylesheet for Canvas */

.code-h2 {
    background-color: #ffe6ea;
    border: 1px solid #FFFFFF;
    padding: 5px;
    color: #8a0017;
    display: block;
}

.code-h3 {
    color: #8a0017;
    border-bottom: 1px solid #8a0017;
}

.code-h4 {
    color: #8a0017;
    padding-top: 10px;
}

.code-h5 {
    color: #8a0017;
    padding-top: 10px;
    font-size: 120%;
}

.page-title {
    display: none;
}