//This comment will not be output to CSS file

$color-base: #900;
$color-secondary: #2a7db4;
$color-greyscale: #666666;
$color-lightest: #ffffff;

@mixin text-border-fix {
  //decrease space between text and border
  line-height: 26px;
  padding-top: 14px
}

#cd-2 {

  // ****************************************** GENERAL *******************************************

  margin: -10px -10px 0 -10px;

  counter-reset: h3counter;

  //h2 {
  //  counter-reset: h3counter;
  //}

  h3.nocount:before {
    content: none !important;
    counter-increment: none !important;
  }

  //h4.nocount:before {
  //  content: none !important;
  //  counter-increment: none !important;
  //}

  h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
  }

  //h3 {
  //  counter-reset: h4counter;
  //}

  //h4:before {
  //  content: counter(h3counter) "." counter(h4counter) "\0000a0\0000a0";
  //  counter-increment: h4counter;
  //}

  // ****************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      border: 1px solid $color-lightest;
      padding: 10px 20px 10px 0;
      display: block;
      text-align: right;

    }

    //  .banner-box {
    //    background-color: darken($color-base, 2%);
    //    border: 1px solid $color-lightest;
    //    float: right;
    //    color: $color-lightest;
    //    height: 55px;
    //   width: 80px;
    //    margin-top: -25px;
    //    text-align: center;
    //    padding-top: 23px;
    //  }

  }

  h2 {
    color: $color-base;
    //font-size: 26px;
  }

  h3 {
    color: $color-base;
    text-transform: uppercase;
    border-bottom: 2px solid lighten($color-greyscale, 50%);
    //font-size: 23px;
    @include text-border-fix;
  }

  h4 {
    color: darken($color-secondary, 5%);
    padding-top: 10px;
  }

  h5 {
    color: darken($color-secondary, 10%);
    padding-top: 10px;
  }

  // ******************************************* PANELS & INFO BOXES *******************************************

  .infoblock {
    padding: 10px;
    display: block;
    margin: 10px 0 20px 0;

  }

  .infoblock-alert {
    background-color: #ffeaea;
    border: 1px solid #eed3d7;
    color: #a34140;
    //  margin: 10px 0 -360px 0;
  }

  .infoblock-note {
    background-color: #fcf8e3;
    border: 1px solid #fbeed5;
    color: #8a6f19;
  }

  .panel {
    padding: 15px 10px 10px 10px;
    display: block;
    margin: 10px 0 20px 0;
  }

  // w/ left border
  .panel-default-lb {
    border-left: 1px solid #dfdfdf;
    border-radius: 4px;
    background-color: #f3f3f3;
  }

  // ******************************************* TABLES *******************************************

  .tbl-w100 {
    width: 100%
  }

  .tbl-w800 {
    width: 800px;
  }

  // video on the left
  .tbl-vid {
    padding: 10px 0;
    float: left;
    width: 560px;
    height: 315px;
  }

  .tbl-img {
    padding: 10px;
    margin-bottom: 20px;
  }

  // img on the left
  .tbl-img-l {
    float: left;
  }

  .tbl-txt {
    padding: 0 10px 0 20px;
  }

  // ******************************************* TEXT *******************************************

  .txt-i {
    font-style: italic;
  }

  .lead {

  }

  .mark {
    padding: .2em;
    background-color: #fcf8e3;
  }

  dl {
    position: relative;
  }

  dt {
    padding-top: 0.5em;
  }

  // ******************************************* MEDIA *******************************************

  .img-centered {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

  .cd-video {
    margin-bottom: 1.5em;
  }
}
