#cd-1 {

  @import "cd-0"; //default theme

  $color-base: #BB4003;
  $color-secondary: #BA8D00;

  $color-emph: #53bda6;


  // ****************************************** HEADINGS *******************************************

  .banner {

    img {
      position: relative;
      padding: 2px 0;
      max-width: none !important;
    }

    h2 {
      color: $color-lightest;
      font-family: "Myriad Pro";
      position: absolute;
      top: -5px;
      left: 685px;
      width: 410px;

      .module {
        font-weight: 600;
      }

      .title {
        font-size: 16px;
        position: absolute;
        top: 25px;
        text-transform: uppercase;
      }

    }

    background-color: darken($color-greyscale, 12%);
    margin: -15px -40px 30px -30px;
    min-height: 68px;

  }

  h2 {
    color: $color-base;
  }

  h3 {
    color: darken($color-base, 1%);
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    text-transform: uppercase;
    padding-top: 14px;
    //decrease space between text and border
    line-height: 26px;
  }

  h4 {
    color: $color-secondary;
    padding-top: 10px;
    text-transform: uppercase;
  }

  h5 {
    color: darken(invert($color-base), 30%); //blue
    font-size: 15.5px;
    padding-top: 10px;
  }

  // ****************************************** NEW ICONS *******************************************

  $icons: man-ab, man-book-read, man-paper-show;

  $selector: ();

  @each $item in $icons {
    $selector: $selector, unquote('.i-#{$item}');
    h3.i-#{$item} {
      @include box-shadow(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
    }

    .i-#{$item}:before {
      background: url(../img/icons/cd-1/#{$item}.png) left top no-repeat;
      @include icon-before-el;
    }

  }

  #{$selector} {
    border-bottom: none !important;
  }

  // ********************************** PANELS & INFO BOXES ****************************************

  .panel {

    h5 {
      border-bottom: 1px solid rgba($color-greyscale, 0.2);
      text-transform: uppercase;
    }

  }


  // ******************************************* BUTTONS *******************************************



  // ******************************************* TABLES *******************************************



  // ******************************************* TEXT *******************************************

  .highlight-emph {
    background-color: rgba($color-emph, 0.2);
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  blockquote cite {
    display: block;
    font-size: 80%;
    color: #777;
    font-style: italic;
  }

  blockquote cite:before {
    content: '\2014 \00A0';
  }

  // ******************************************* Annotation *******************************************



  // ******************************************* IMGs *******************************************


}
