#cd-5 {

  @import "cd-0"; //default theme

  $color-base: #903232;
  $color-secondary: #ba6900;


  // ****************************************** HEADINGS *******************************************

  .banner {

    img {
      position: relative;
      max-width: none !important;
    }

    h2 {
      color: $color-lightest;
      font-family: "Myriad Pro";
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    background-color: $color-base;
    margin: -15px -40px 30px -50px;
    min-height: 68px;

  }

  h2 {
    color: $color-base;
  }

  h3 {
    color: darken($color-base, 1%);
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    text-transform: uppercase;
    @include text-border-fix;
  }

  h4 {
    color: $color-secondary;
    padding-top: 10px;
  }

  h5 {
    color: darken($color-secondary, 5%);
    font-size: 15.5px;
    padding-top: 10px;
  }







  // ****************************************** NEW ICONS *******************************************

  $icons: man-book-read, man-paper-show, book, man-paper-write;

  $selector: ();

  @each $item in $icons {
    $selector: $selector, unquote('.i-#{$item}');
    h3.i-#{$item} {
      @include icon-border-bottom(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
    }

    .i-#{$item}:before {
      background: url(../img/icons/cd-5/#{$item}.png) left top no-repeat;
      @include icon-before-el;
    }

  }

  #{$selector} {
    border-bottom: none !important;
  }










  // ****************************************** OLD ICONS *******************************************


  .i-summary, .i-required, .i-recommended, .i-narratives, .i-description, .i-reference, .i-circle {
    border-bottom: none !important;
    @include icon-border-bottom(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
  }



  .i-required:before {
    background: url(../img/2/required_readings.png) left top no-repeat;
    @include icon-before-el;
  }
  .i-summary:before {
    background: url(../img/2/unit_summary.png) left top no-repeat;
    @include icon-before-el;
  }
  .i-recommended:before {
    background: url(../img/2/recommended_readings.png) left top no-repeat;
    @include icon-before-el;
  }
  .i-narratives:before {
    background: url(../img/2/narratives.png) left top no-repeat;
    @include icon-before-el;
  }
  .i-description:before {
    background: url(../img/2/unit_description.png) left top no-repeat;
    @include icon-before-el;
  }
  .i-reference:before {
    background: url(../img/2/reference.png) left top no-repeat;
    @include icon-before-el;
  }
  .i-circle:before {
    background: url(../img/2/reflective_circle_practices.png) left top no-repeat;
    @include icon-before-el;
  }



  // ******************************************* PANELS & INFO BOXES *******************************************

  .panel {
    padding: 10px 20px;
    margin: 10px 0 20px 0;
    border: 1px solid #d9d9d9;
    display: block;
    @include round(4px);

    h5 {
      padding-top: 0;
    }

  }

  .panel-default {
    background-color: rgba($color-greyscale, 0.03);
  }

  // ******************************************* BUTTONS *******************************************

  .button {
    @include round(3px);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 8px 0;
    display: inline-block;
    padding: 7px 22px;
    text-align: center;

    cursor: pointer;

    border: 1px solid rgba($color-greyscale, 0.03);
    background-color: rgba($color-greyscale, 0.03);
  }


  // ******************************************* TEXT *******************************************

  // Space between list items
  ol, ul {
    position: relative;
  }

  ol li, ul li {
    padding-top: 0.5em;
  }

  blockquote {
    padding: 10px 20px;
    border-left: none;
    //quotes: "\201C""\201D""\2018""\2019";
    margin: 10px 0 20px 0;
    @include round(4px);
    background-color: rgba($color-greyscale, 0.02);

    h5:first-child {
      margin-top: -20px;
      margin-left: 40px;
    }

    p {
      line-height: inherit;
      font-weight: inherit;
      margin-left: 40px;
      margin-bottom: 7px;

    }

    p:first-child {
      margin-top: -10px;
    }

    p:nth-last-child(2) {
      margin-bottom: 7px;
    }

    cite {
      display: block;
      font-size: 80%;
      color: #777;
      font-style: italic;
      margin-left: 40px;
      &:before {
        content: '\2014 \00A0';
      }
    }

    &:before {
      color: #ccc;
      //content: open-quote;
      content: '\201C';
      font-size: 4em;
      line-height: 0.1em;
      margin-right: 0.25em;
      vertical-align: -0.4em;
    }


  }



  // ---------------------------------------------------------------------------------------------

  @import "cd-z"; //default theme

}
