#cd-7 {

  @import "cd-0"; //default theme

  $color-base: #ee4235;
  $color-secondary: #3062A3;

  // ***************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    margin-bottom: 30px;

    img {
      border: none;
      box-shadow: none;
      @include round(0);
    }

  }


  //cd-2 uses .nocount,
  //update cd-2 or nav-build.js
  //remove one of them!!!

  /*
  counter-reset: h3counter;

  h3.exclude:before {
    content: none !important;
    counter-increment: none !important;
  }

  h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
  }
  */

  h2 {
    color: darken($color-base, 15%);
  }

  h3 {
    color: darken($color-base, 15%);
    text-transform: uppercase;
    margin-left: 0.1em;
  }

  h4 {
    color: $color-secondary;
    text-decoration: underline;
    padding-top: 10px;
  }

  h5 {
    color: darken($color-secondary, 10%);
    text-decoration: underline;
    padding-top: 10px;
  }

  // ****************************************** ICONS *********************************************

  $icons: man-paper-write;

  $selector: ();

  @each $item in $icons {
    $selector: $selector, unquote('.i-#{$item}');
    h3.i-#{$item} {
      @include box-shadow(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
    }

    .i-#{$item}:before {
      background: url(../img/icons/cd-7/#{$item}.png) left top no-repeat;
      @include icon-before-el;
    }

  }

  #{$selector} {
    border-bottom: none !important;
  }

  // *********************************** PANELS & INFO BOXES **************************************

  .panel-answer {
    border: none;
  }

  // ******************************************* BUTTONS ******************************************

  // ******************************************* TABLES *******************************************

  // ********************************************* TEXT *******************************************

  // Space between ordered list items
  ol {
    position: relative;
  }

  ol li {
    padding-top: 0.5em;
  }

  .no-space {
    :not(:first-child) {
      padding-top: 0;
    }
  }

  // ******************************************* IMGs *********************************************

  // ******************************************* CODE *********************************************

  pre {
    color: darken($color-secondary, 10%);
    font-family: Consolas, Monaco, 'Andale Mono', monospace;

    margin: 1.5em 0;

  }

  // ******************************************* FOR JS *******************************************

  .open-arrow, .close-arrow {
    float: right;
    color: darken($color-secondary, 1%);
    font-size: 18px;
    vertical-align: top;
  }

  h3 {
    &.show-hide-btn {
      padding: 10px 10px 5px 10px;
      &:hover {
        color: darken($color-secondary, 1%);
        background-color: transparentize($color-secondary, 0.97);;
      }
    }
  }

  // ******************************************* NAV **********************************************

  .ui-tabs-anchor {
    color: darken($color-base, 15%);
  }

}


