//This comment will not be output to CSS file

$color-base: #ee4235;
//#3062A3 - blue ee4235 - red
$color-secondary: #3062A3; // #3161a0;

$color-answer: #c1e8fc;

$color-lightest: #ffffff;
$color-greyscale: #666666;

@mixin text-border-fix {
  //decrease space between text and border
  line-height: 26px;
  padding-top: 14px
}

@mixin round($amount) {
  -moz-border-radius: $amount; // rounds corners for firefox
  border-radius: $amount; //rounds corners for other browsers
}

@mixin icon-border-bottom($x, $y, $radius, $spread, $color, $opacity) {
  //right _ _ width
  -webkit-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  -moz-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  box-shadow: $x $y $radius $spread rgba($color, $opacity);
}

@mixin icon-before-h3 {
  content: '';
  display: inline-block;
  background-size: 29px 32px;
  height: 29px;
  width: 32px;
  margin-right: 5px;
  vertical-align: bottom;
  margin-bottom: -2px;
}

#cd-4 {

  // ****************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    background-color: #353535;
    margin: -15px -40px 30px -30px;

  }

  //page title
  h2 {
    color: darken($color-base, 15%);
  }

  //headers in the page
  h3 {
    color: darken($color-base, 15%);
    //color: $color-base;
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    text-transform: uppercase;
    @include text-border-fix;
  }

  .guide, .objectives, .slides, .problems, .solutions {
    border-bottom: none !important;
    @include icon-border-bottom(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
  }

  .guide:before {
    background: url(../img/1/your_guide.png) left top no-repeat;
    @include icon-before-h3;
  }

  .slides:before {
    background: url(../img/1/slides.png) left top no-repeat;
    @include icon-before-h3;
  }

  .objectives:before {
    background: url(../img/1/learning_objectives.png) left top no-repeat;
    @include icon-before-h3;
  }

  .problems:before {
    background: url(../img/1/practice_problems.png) left top no-repeat;
    @include icon-before-h3;
  }

  .solutions:before {
    background: url(../img/1/practice_problems_solutions.png) left top no-repeat;
    @include icon-before-h3;
  }

  //sub-headers
  h4 {
    color: $color-secondary;
    text-decoration: underline;
    padding-top: 10px;
  }

  //sub-sub-headers
  h5 {
    color: darken($color-secondary, 10%);
    text-decoration: underline;
    padding-top: 10px;
  }

  // ******************************************* PANELS & INFO BOXES *******************************************

  .panel {
    padding: 10px 20px;
    display: block;
    margin: 10px 0 20px 0;
    //border: 1px solid #d9d9d9;

    h5 {
      padding-top: 0;
    }

  }

  .panel-default {
    @include round(4px);
    background-color: rgba($color-greyscale, 0.03);
  }

  .panel-answer {
    @include round(4px);
    background-color: rgba($color-answer, 0.2);
    display: none;
    margin-top: 0;
  }

  .panel-pushed {
    margin-left: 28px;
  }

  // ******************************************* BUTTONS *******************************************

  .button-answer {
    @include round(3px);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 8px 0;
    display: inline-block;
    padding: 7px 22px;
    background-color: lighten(adjust_hue($color-secondary, -11%), 5%); //#1E83C3
    color: #fff;
    cursor: pointer;
    //text-decoration: none;
    text-align: center;

  }

  // ******************************************* TABLES *******************************************

  .tbl-w100 {
    width: 100%
  }

  table thead, table tfoot {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  table {
    border: solid 1px rgba($color-greyscale, 0.2);
    margin-bottom: 1.25em;
    margin-left: 0;
    border-collapse: separate;
    border-spacing: 2px;
  }

  td {
    padding: 0.5625em 0.625em;
  }

  // ******************************************* TEXT *******************************************

  dl {
    position: relative;
  }

  dt {
    padding-top: 0.5em;
  }

  // Space between ordered list items
  ol {
    position: relative;
  }

  ol li {
    padding-top: 0.5em;
  }

  .no-space {
    :not(:first-child) {
      padding-top: 0;
    }
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  blockquote cite {
    display: block;
    font-size: 80%;
    color: #777;
    font-style: italic;
  }

  blockquote cite:before {
    content: '\2014 \00A0';
  }

  // ******************************************* Annotation *******************************************

  // ******************************************* IMGs *******************************************

  .img-centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
  }

}
