//cd-0 (default theme)

$color-comment: #0216fd;
$color-emph: #fbfbca;

$color-lightest: #ffffff;
$color-greyscale: #666666;

@mixin text-border-fix {
  //decrease space between text and border
  line-height: 26px;
  padding-top: 14px
}

@mixin round($amount) {
  -moz-border-radius: $amount; // rounds corners for firefox
  border-radius: $amount; //rounds corners for other browsers
}

@mixin icon-border-bottom($x, $y, $radius, $spread, $color, $opacity) {
  -webkit-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  -moz-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  box-shadow: $x $y $radius $spread rgba($color, $opacity);
}

@mixin icon-before-el {
  content: '';
  display: inline-block;
  background-size: 29px 32px;
  width: 32px;
  height: 31px;
  margin-right: 5px;
  vertical-align: bottom;
  margin-bottom: -2px;
}

@mixin icon-large {
  background-size: 58px 64px; /* 98px 87px; */
  width: 58px; /* 98px; */
  height: 64px; /* 87px; */
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}


