//cd-0 (default theme)

$color-comment: #0216fd;
$color-emph: #fbfbca;

$color-lightest: #ffffff;
$color-greyscale: #666666;


$color-answer: #c1e8fc;
$color-alert: #ad0026;


@mixin text-border-fix {
  //decrease space between text and border
  line-height: 26px;
  padding-top: 14px
}

@mixin round($amount) {
  -moz-border-radius: $amount; // rounds corners for firefox
  border-radius: $amount; //rounds corners for other browsers
}

@mixin icon-border-bottom($x, $y, $radius, $spread, $color, $opacity) {
  -webkit-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  -moz-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  box-shadow: $x $y $radius $spread rgba($color, $opacity);
}

@mixin icon-before-el {
  content: '';
  display: inline-block;
  background-size: 29px 32px;
  width: 32px;
  height: 31px;
  margin-right: 5px;
  vertical-align: bottom;
  margin-bottom: -2px;
}

@mixin icon-large {
  background-size: 58px 64px; /* 98px 87px; */
  width: 58px; /* 98px; */
  height: 64px; /* 87px; */
}

@mixin box-sizing($box-model) {
  -webkit-box-sizing: $box-model; // Safari <= 5
  -moz-box-sizing: $box-model; // Firefox <= 19
  box-sizing: $box-model;
}

@mixin box-shadow($x, $y, $radius, $spread, $color, $opacity) {
  -webkit-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  -moz-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  box-shadow: $x $y $radius $spread rgba($color, $opacity);
}

// ****************************************** ICONS *******************************************

$icons: icon, man-book-read, man-paper-show, book, man-paper-write, papers, man-r, monitor-venn, man-ab, video, question, target, slides, materials, checklist, discussions, book-x, exclamation, spssm, man-laptop;

$selector: ();

/* @for $i from 0 to length($icons) {} */
/* h3.i-exclamation-point */
@each $item in $icons {
  $selector: $selector, unquote('.i-#{$item}');
  h3.i-#{$item} {
    @include icon-border-bottom(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
  }

  .i-#{$item}:before {
    background: url(../img/icons/cd-0/#{$item}.png) left top no-repeat;
    @include icon-before-el;
  }

}

#{$selector} {
  border-bottom: none !important;
}

.icon-large {
  &:before, &:after {
    @include box-sizing(border-box);
  }
}

p.icon-large:before {
  @include icon-large;
  /* border: 1px solid #ff00ff; */
  padding-right: 65px;
  max-width: 90px;
}

h3.icon-large {
  /* inline is for vertical-align: middle to work in :before */
  display: inline;
  &:before {
    vertical-align: middle;
  }
}

.icon-large {
  /* color: blue; */
  display: inline-flex;

  &:before {
    @include icon-large;
  }

}

// ******************************************* PANELS & INFO BOXES *******************************************

.panel {
  padding: 10px 20px;
  display: block;
  margin: 10px 0 20px 0;
  border: 1px solid #d9d9d9;
  @include round(4px);

  h5 {
    padding-top: 0;
  }

}

.panel-default {
  background-color: rgba($color-greyscale, 0.03);
}

.panel-answer {
  margin-top: 0;
  border: 1px solid rgba($color-answer, 0.3);

  p:last-child {
    margin-bottom: 0;
  }
}

// ******************************************* BUTTONS *******************************************

.button {
  @include round(3px);
  font-weight: normal;
  letter-spacing: 1px;
  margin: 8px 0;
  display: inline-block;
  padding: 7px 22px;
  text-align: center;

  cursor: pointer;

  border: 1px solid rgba($color-greyscale, 0.03);
  background-color: rgba($color-greyscale, 0.03);
}

.show-hide-btn {
  cursor: pointer;
}

// ******************************************* TABLES *******************************************

.tbl-w100 {
  width: 100%
}

table thead, table tfoot {
  background-color: #f5f5f5;
  font-weight: bold;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}

table {
  border: solid 1px rgba($color-greyscale, 0.2);
  margin-bottom: 1.25em;
  margin-left: 0;
  border-collapse: separate;
  border-spacing: 2px;
}

td {
  padding: 0.5625em 0.625em;
}

th {
  padding-left: 0.5em;
  padding-right: 0.5em;
}

// ******************************************* TEXT *******************************************

.highlight-emph {
  padding: .05em .4em;
  background-color: rgba($color-emph, 0.8);
  @include round(6px);
}

dl {
  position: relative;
}

dt {
  padding-top: 0.5em;
}

// Space between list items
// theme-specific

.no-space {
  :not(:first-child) {
    padding-top: 0;
  }
}

.bibl {
  list-style-type: none;
  text-indent: -2em;
}

// blockquote theme-specific
// design a simple default one

// ******************************************* Annotation *******************************************

.highlight-comment {
  padding: .05em .4em;
  background-color: rgba($color-comment, 0.2);
  @include round(6px);
}

.comment {
  color: $color-comment;
  font-style: italic;
  font-size: 16px;
  &:before {
    content: " -- ";
  }
}

// ******************************************* IMGs *******************************************

.img-centered {
  text-align: center;
  display: block;
  margin-left: auto;
  margin-right: auto;
  padding: 10px 0;
}

// ------------------

.panel-answer {
  display: none;
}


// ******************************************* NAV *******************************************

.top {
  float: right;

}
