#cd-4 {

  @import "cd-0"; //default theme

  $color-base: #ee4235;
  $color-secondary: #3062A3;

  // ***************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    background-color: #353535;
    margin: -15px -40px 30px -30px;

  }

  h2 {
    color: darken($color-base, 15%);
  }

  h3 {
    color: darken($color-base, 15%);
    //color: $color-base;
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    text-transform: uppercase;
    @include text-border-fix;
  }

  h4 {
    color: $color-secondary;
    text-decoration: underline;
    padding-top: 10px;
  }

  h5 {
    color: darken($color-secondary, 10%);
    text-decoration: underline;
    padding-top: 10px;
  }

  // ****************************************** ICONS *********************************************

  // OLD ICONS *******************************************
  // Remove when 1151 is over
  .guide, .objectives, .slides, .problems, .solutions {
    border-bottom: none !important;
    @include box-shadow(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
  }

  .guide:before {
    background: url(../img/1/your_guide.png) left top no-repeat;
    @include icon-before-el;
  }

  .slides:before {
    background: url(../img/1/slides.png) left top no-repeat;
    @include icon-before-el;
  }

  .objectives:before {
    background: url(../img/1/learning_objectives.png) left top no-repeat;
    @include icon-before-el;
  }

  .problems:before {
    background: url(../img/1/practice_problems.png) left top no-repeat;
    @include icon-before-el;
  }

  .solutions:before {
    background: url(../img/1/practice_problems_solutions.png) left top no-repeat;
    @include icon-before-el;
  }

  // *********************************** PANELS & INFO BOXES **************************************

  // ******************************************* BUTTONS ******************************************

  .button {
    margin: 12px 0 20px 0;
  }

  // ********************************************* TEXT *******************************************

  // Space between ordered list items
  ol {
    position: relative;
  }

  ol li {
    padding-top: 0.5em;
  }

  // ******************************************* IMGs *********************************************


}