//This comment will not be output to CSS file

$color-base: #900;
$color-secondary: #2a7db4;
$color-emph: #fbfbca;
$color-alert: #ad0026;

$color-lightest: #ffffff;
$color-greyscale: #666666;

$color-comment: #0216fd;

@mixin text-border-fix {
  //decrease space between text and border
  line-height: 26px;
  padding-top: 14px
}

@mixin round($amount) {
  -moz-border-radius: $amount; // rounds corners for firefox
  border-radius: $amount; //rounds corners for other browsers
}

@mixin box-shadow($x, $y, $radius, $spread, $color, $opacity) {
  -webkit-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  -moz-box-shadow: $x $y $radius $spread rgba($color, $opacity);
  box-shadow: $x $y $radius $spread rgba($color, $opacity);
}

@mixin icon-before-h3 {
  content: '';
  display: inline-block;
  background-size: 29px 32px;
  height: 29px;
  width: 32px;
  margin-right: 5px;
  vertical-align: bottom;
  margin-bottom: -2px;
}

#cd-3 {

  // ****************************************** HEADINGS *******************************************

  .banner {

    h2 {
      /*
      Set this up after GDBA orientation is over (instead of .red color below):
      background-color: $color-base;
      */
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    /*
    background-color: #C51230;
    margin: -15px -40px 30px -30px; */
    margin-bottom: 30px;

    img {
      border: none;
      box-shadow: none;
      @include round(0);
    }

    .red {
      background-color: $color-base;
    }

  }



  //page title
  h2 {
    color: $color-base;
    text-transform: uppercase;
    //font-weight: bold;
  }

  //headers in the page
  h3 {
    color: darken($color-base, 1%);
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    //text-transform: uppercase;
    @include text-border-fix;
    font-weight: bold;

  }

  //sub-headers
  h4 {
    color: $color-secondary;
    padding-top: 10px;
    //text-transform: uppercase;
    font-weight: bold;

  }

  //sub-sub-headers
  h5 {
    color: darken($color-secondary, 10%);
    font-size: 15.5px;
    padding-top: 10px;
    font-weight: bold;
  }

  .i-video, .i-overview, .i-objectives, .i-slides, .i-readings, .i-assignments, .i-discussions {
    border-bottom: none !important;
    @include box-shadow(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
  }

  .i-video:before {
    background: url(../img/3/i-video.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  .i-overview:before {
    background: url(../img/3/i-overview.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  .i-objectives:before {
    background: url(../img/3/i-objectives.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  .i-slides:before {
    background: url(../img/3/i-slides.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  .i-readings:before {
    background: url(../img/3/i-readings.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  .i-assignments:before {
    background: url(../img/3/i-assignments.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  .i-discussions:before {
    background: url(../img/3/i-discussion.jpg) left top no-repeat;
    @include icon-before-h3;
  }

  // ******************************************* PANELS & INFO BOXES *******************************************

  .panel {
    padding: 10px 20px;
    display: block;
    margin: 10px 0 20px 0;
    border: 1px solid #d9d9d9;
    padding-bottom: 0;
    @include round(4px);

    h5 {
      border-bottom: 1px solid rgba($color-greyscale, 0.2);
      //text-transform: uppercase;
      padding-top: 0;
    }

  }

  .panel-default {
    background-color: rgba($color-greyscale, 0.08);
  }

  // ******************************************* BUTTONS *******************************************

  .button {
    @include round(3px);
    font-weight: normal;
    letter-spacing: 1px;
    margin: 8px 0;
    display: inline-block;
    padding: 7px 22px;
    text-align: center;

    cursor: pointer;

    border: 1px solid rgba($color-greyscale, 0.03);
    background-color: rgba($color-greyscale, 0.03);
  }

  // ******************************************* TABLES *******************************************

  .tbl-w100 {
    width: 100%
  }

  table thead, table tfoot {
    background-color: #f5f5f5;
    font-weight: bold;
  }
  tr:nth-child(even) {
    background-color: #f9f9f9;
  }

  table {
    border: solid 1px rgba($color-greyscale, 0.2);
    margin-bottom: 1.25em;
    margin-left: 0;
    border-collapse: separate;
    border-spacing: 2px;
  }

  td {
    padding: 0.5625em 0.625em;
  }

  // ******************************************* TEXT *******************************************

  .highlight-emph {
    padding: .05em .4em;
    background-color: rgba($color-emph, 0.8);
    @include round(6px);
  }

  dl {
    position: relative;
  }

  dt {
    padding-top: 0.5em;
  }

  // Space between ordered list items
  ol {
    position: relative;
  }

  ol li {
    padding-top: 0.5em;
    ol li, ul li {
      padding-top: 0;
    }
  }

  .no-space {
    :not(:first-child) {
      padding-top: 0;
    }
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  blockquote cite {
    display: block;
    font-size: 80%;
    color: #777;
    font-style: italic;
  }

  blockquote cite:before {
    content: '\2014 \00A0';
  }

  // ******************************************* IMGs *******************************************

  .img-centered {
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding: 10px 0;
  }

  img {
    border: solid 4px #FFFFFF;
    @include box-shadow(1px, 1px, 2px, 2px, $color-greyscale, 0.1);
    @include round(3px);
  }

  img + p {
    padding-top: 10px;
  }

  // ******************************************* for JS ******************************************

  // #1: show-hide-btn

  .panel-answer {
    display: none;
  }

  // ------------------
}
