#cd-8 {

  @import "cd-0"; //default theme

  $color-base: #903232;
  $color-secondary: #2a7db4;

  // ***************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: $color-base;
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    background-color: #353535;
    margin: -15px -40px 30px -30px;

  }

  // counter
  counter-reset: h3counter;

  h3.nocount:before {
    content: none !important;
    counter-increment: none !important;
  }

  h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
  }

  h2 {
    color: $color-base;
  }

  h3 {
    color: $color-base;
    text-transform: uppercase;
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    @include text-border-fix;
  }

  h4 {
    color: $color-secondary;
    padding-top: 10px;
  }

  h5 {
    color: darken($color-secondary, 9%);
    padding-top: 10px;
  }

  // ****************************************** ICONS *********************************************

  // *********************************** PANELS & INFO BOXES **************************************

  // ******************************************* BUTTONS ******************************************

  // ******************************************* TABLES *******************************************

  // ********************************************* TEXT *******************************************

  // Space between SUBLIST items
  ol li, ul li {
    ol li, ul li {
      padding-top: 0;
    }
  }

  // ******************************************* IMGs *********************************************

}