#cd-3 {

  @import "cd-0"; //default theme

  $color-base: #900;
  $color-secondary: #2a7db4;

  .banner {

    h2 {
      /*
      Set this up after 1151 is over (instead of .red color below):
      background-color: $color-base;
      */
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    margin-bottom: 30px;

    img {
      border: none;
      box-shadow: none;
      @include round(0);
    }

    .red {
      background-color: $color-base;
    }

  }

  // ***************************************** HEADINGS *******************************************

  h2 {
    color: $color-base;
    text-transform: uppercase;
    //font-weight: bold;
  }

  h3 {
    color: darken($color-base, 1%);
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    //text-transform: uppercase;
    @include text-border-fix;
    font-weight: bold;

  }

  h4 {
    color: $color-secondary;
    padding-top: 10px;
    //text-transform: uppercase;
    font-weight: bold;

  }

  h5 {
    color: darken($color-secondary, 10%);
    font-size: 15.5px;
    padding-top: 10px;
    font-weight: bold;
  }

  // ****************************************** ICONS *********************************************

  $icons: slides;

  $selector: ();

  @each $item in $icons {
    $selector: $selector, unquote('.i-#{$item}');
    h3.i-#{$item} {
      @include box-shadow(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
    }

    .i-#{$item}:before {
      background: url(../img/icons/cd-3/#{$item}.png) left top no-repeat;
      @include icon-before-el;
    }

  }

  #{$selector} {
    border-bottom: none !important;
  }

  // OLD ICONS *******************************************

  // Remove when 1151 is over

  .i-overview, .i-objectives, .i-readings, .i-assignments {
    border-bottom: none !important;
    @include box-shadow(20px, 20px, 1.5px, -20px, $color-greyscale, 0.6);
  }

  .i-overview:before {
    background: url(../img/3/i-overview.jpg) left top no-repeat;
    @include icon-before-el;
  }

  .i-objectives:before {
    background: url(../img/3/i-objectives.jpg) left top no-repeat;
    @include icon-before-el;
  }

  .i-readings:before {
    background: url(../img/3/i-readings.jpg) left top no-repeat;
    @include icon-before-el;
  }

  .i-assignments:before {
    background: url(../img/3/i-assignments.jpg) left top no-repeat;
    @include icon-before-el;
  }

  // *********************************** PANELS & INFO BOXES **************************************

  .panel {
    h5 {
      border-bottom: 1px solid rgba($color-greyscale, 0.2);
    }
  }

  // ******************************************* BUTTONS ******************************************

  // ******************************************* TABLES *******************************************

  // ********************************************* TEXT *******************************************

  // Space between SUBLIST items
  ol li {
    ol li, ul li {
      padding-top: 0;
    }
  }

  // ******************************************* IMGs *******************************************

  img {
    border: solid 4px #FFFFFF;
    @include box-shadow(1px, 1px, 2px, 2px, $color-greyscale, 0.1);
    @include round(3px);
  }

  img + p {
    padding-top: 10px;
  }

}
