#cd-8 {

  @import "cd-0"; //default theme

  $color-base: #903232;
  $color-secondary: #19834A; //#867C45;

  $color-panel-default: rgb(184, 175, 138);

  $color-green: #19834A;

  // ***************************************** HEADINGS *******************************************

  h2 {
    background-color: darken($color-greyscale, 13%);
    color: $color-lightest;
    padding: 12px 30px 10px 0;
    display: block;
    text-align: right;
    margin: 0 0 30px 0;

    &.green {
      background-color: $color-green;
    }
  }

  // counter
  counter-reset: h3counter;

  h3.nocount:before {
    content: none !important;
    counter-increment: none !important;
  }

  h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
  }

  h3 {
    color: darken($color-base, 1%);
    border-bottom: 1px solid rgba($color-greyscale, 0.1);
    @include text-border-fix;
  }

  h4 {
    color: $color-secondary;
    padding-top: 10px;
    text-decoration: underline;

  }

  h5 {
    color: darken($color-secondary, 10%);
    padding-top: 10px;
    text-decoration: underline;
    font-size: 15.5px;
    font-weight: bold;
  }

  // ****************************************** ICONS *********************************************

  // *********************************** PANELS & INFO BOXES **************************************

  .panel {
    @include round(0);
    h5 {
      border-bottom: 1px solid rgba($color-greyscale, 0.2);
    }
    border: none;
  }

  .panel-answer {
    /* border: 1px solid rgba($color-secondary, 0.1); */
    padding-top: 0;
    padding-bottom: 0;
  }

  .panel-default {
    background-color: rgba($color-panel-default, 0.14);
  }

  // ******************************************* BUTTONS ******************************************

  .button-answer {
    background-color: lighten(desaturate($color-secondary, 25%), 15%);
  }

  // ******************************************* TABLES *******************************************

  // ********************************************* TEXT *******************************************
  dd {
    margin-left: 20px;
  }

  .bibl {
    padding-left: 10px;
  }

  blockquote {
    border-left: 2px solid rgba($color-greyscale, 0.2);
    background-color: rgba($color-panel-default, 0.06);
    font-style: italic;
  }

  .highlight-emph {
    background-color: rgba($color-panel-default, 0.20);
    @include round(0);
  }

  // ******************************************* IMGs *********************************************

  // ******************************************* FOR JS *******************************************

  .open-arrow, .close-arrow {
    float: right;
    color: darken($color-secondary, 1%);
    font-size: 18px;
    vertical-align: top;
  }

  h3 {
    &.show-hide-btn {
      padding: 10px 10px 5px 10px;
      &:hover {
        color: darken($color-secondary, 1%);
        background-color: transparentize($color-secondary, 0.97);;
      }
    }
  }

}