#cd-2 {

  @import "cd-0"; //default theme

  $color-base: #900;
  $color-secondary: #2a7db4;

  // ***************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    background-color: #353535;
    margin: -15px -40px 30px -30px;

  }

  // counter
  counter-reset: h3counter;

  h3.nocount:before {
    content: none !important;
    counter-increment: none !important;
  }

  h3:before {
    content: counter(h3counter) ".\0000a0\0000a0";
    counter-increment: h3counter;
  }

  h2 {
    color: $color-base;
  }

  h3 {
    color: $color-base;
    text-transform: uppercase;
    border-bottom: 2px solid lighten($color-greyscale, 50%);
    //font-size: 23px;
    @include text-border-fix;
  }

  h4 {
    color: $color-secondary;
    padding-top: 10px;
  }

  h5 {
    color: darken($color-secondary, 8%);
    padding-top: 10px;
  }

  // ****************************************** ICONS *********************************************



  // *********************************** PANELS & INFO BOXES **************************************


  .panel {

    h5 {
      border-bottom: 1px solid rgba($color-greyscale, 0.2);
      text-transform: uppercase;
    }
  }


  // ******************************************* BUTTONS ******************************************


  // ******************************************* TABLES *******************************************

  .tbl-w100 {
    margin-bottom: 10px;
  }


  // ******************************************* TEXT *******************************************


  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  blockquote cite {
    display: block;
    font-size: 80%;
    color: #777;
    font-style: italic;
  }

  blockquote cite:before {
    content: '\2014 \00A0';
  }

  // ******************************************* IMGs *********************************************

  .img-centered {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }


}