//This comment will not be output to CSS file

$color-base: #BB4003;
$color-secondary: #BA8D00;
$color-emph: #20AD03;
$color-alert: #ad0026;


$color-log: #FAE0B3;

$color-lightest: #ffffff;
$color-greyscale: #666666;

$color-comment: #0216fd;

@mixin text-border-fix {
  //decrease space between text and border
  line-height: 26px;
  padding-top: 14px
}


@mixin round($amount) {
  -moz-border-radius:$amount;  // rounds corners for firefox
  border-radius:$amount;  //rounds corners for other browsers
}

#cd-1 {

  // ****************************************** HEADINGS *******************************************

  .banner {

    h2 {
      background-color: darken($color-greyscale, 13%);
      color: $color-lightest;
      padding: 12px 30px 10px 0;
      display: block;
      text-align: right;
      margin: 0;
    }

    background-color: #353535;
    margin: -15px -40px 0 -30px;

  }

  //page title
  h2 {
    color: $color-base;
  }

  //headers in the page
  h3 {
    color: darken($color-base, 1%);
    border-bottom: 1px solid rgba($color-greyscale, 0.2);
    text-transform: uppercase;
    @include text-border-fix;
  }

  //sub-headers
  h4 {
    color: $color-secondary;
    padding-top: 10px;
  }

  //sub-sub-headers
  h5 {
    color: darken(invert($color-base), 48%);
    padding-top: 10px;
  }

  // ******************************************* PANELS & INFO BOXES *******************************************

  .panel {
    padding: 10px 20px;
    display: block;
    margin: 10px 0 20px 0;

    h5 {
      border-bottom: 1px solid rgba($color-greyscale, 0.2);
      text-transform: uppercase;
      padding-top: 0;
    }

    .alert {
      font-style: bold;
      color: $color-alertc;
    }


  }

  .panel-log {
    @include round(4px);
    background-color: rgba($color-log, 0.8);
  }

  .panel-default {
    border-radius: 4px;
    background-color: rgba($color-greyscale, 0.2);
  }

  // ******************************************* TABLES *******************************************

  .tbl-w100 {
    width: 100%
  }

  // ******************************************* TEXT *******************************************

  .highlight-emph {
    padding: .05em .4em;
    background-color: rgba($color-emph, 0.2);
    @include round(6px);
  }



  dl {
    position: relative;
  }

  dt {
    padding-top: 0.5em;
  }

  blockquote {
    padding: 10px 20px;
    margin: 0 0 20px;
    border-left: 5px solid #eee;
  }

  blockquote cite {
    display: block;
    font-size: 80%;
    color: #777;
    font-style: italic;
  }

  blockquote cite:before {
    content: '\2014 \00A0';
  }

  // ******************************************* Annotation *******************************************

  .highlight-comment {
    padding: .05em .4em;
    background-color: rgba($color-comment, 0.2);
    @include round(6px);
  }

  .comment {
    color: $color-comment;
    font-style: italic;
    font-size: 16px;
  }

  .comment:before {
    content: " -- ";
  }



  // ******************************************* IMGs *******************************************

  .img-centered {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
  }

}
