#cd-7 {

  // ******************************************* SETUP for navigation *******************************************

  #nav-scrollspy {

    // positioning within canvas page
    left: -15px;
    max-width: 1100px;
    /* min-width: 1000px; */
    z-index: 999999;

    // how it looks in cd-4
    .nav-list {
      margin: 17px 0 0 0;
      padding: 4px 0 4px 0;
      list-style: none;
      overflow: hidden;
      background-color: rgba(238, 245, 250, 0.9);
      font-size: 12px;
      display: flex;
      > li {
        align-self: center;
        list-style: none;
        float: left;
        display: block;
         margin: auto;
        /* min-width: 70px; */

        > {
          * {
            display: block;
          }
          a {
            text-decoration: none;
            color: #0088CC;
            &:hover {
              text-decoration: underline;
            }
            &.space-right {
              padding-right: 25px;
            }
          }

        }

        &.active {
          > a {
            color: #C61D11 !important;
            // overriding default style in canvas:
            //.nav-list>.active>a, .nav-list>.active>a:hover
            background-color: rgba(238, 245, 250, 0.9);
            text-shadow: none;
            &:hover {
              background-color: rgba(238, 245, 250, 0.9);
              text-shadow: none;
            }
          }
        }

      }
    }

  }

  .fixed {
    position: fixed;
    padding-left: 190px;
    top: 0;
    margin-top: -20px;

    li {
      padding-right: 50px;

    }

  }

  // content -------------

  .section-identifier {
    height: 10px;
  }

  .extra-space {
    height: 800px;
  }

}
