#cd-4 {

  // ******************************************* SETUP for navigation *******************************************

  .section-identifier {
    height: 10px;
  }

  #inPageNav {
    right: 0;
    left: 0;
    margin: -37px 0 0 -15px;
    z-index: 999999;
  }

  /* Inline Lists */

  .nav-list {
    margin: 17px 0 0 0;
    padding: 4px 0 4px 0;
    list-style: none;
    overflow: hidden;
    background-color: #eef5fa;
    > li {
      list-style: none;
      float: left;
      margin-right: 1.375em;
      display: block;
      padding: 3px;
      > {
        * {
          display: block;
        }
        a {
          text-decoration: none;
          color: #0088CC;
          &:hover {
            text-decoration: underline;

          }
        }

      }

      &:first-child {
        padding-left: 20px;

      }
    }
  }

  .fixed {
    position: fixed;
    padding-left: 190px;
    top: 0;
    margin-top: -20px;
  }

  .active {
    > a {
      color: #C61D11 !important;
    }
  }

  .extra-space {
    height: 800px;
  }

}