#cd-1, #cd-2, #cd-3, #cd-4, #cd-5 {
// ******************************************* SETUP for navigation *******************************************


.section-identifier {
  height: 10px;
  visibility: hidden;
}

#inPageNav {
  padding-right: 10px;
  right: 0;
  left: 0;
  z-index: 9999;
}

/* Inline Lists */

.nav-list {
  margin: 0 0 0 -20px;
  padding: 8px 0;
  list-style: none;
  overflow: hidden;
  background-color: #f2f2f2;
  > li {
    list-style: none;
    float: left;
    margin-left: 1.375em;
    display: block;
    padding: 5px;
    > {
      * {
        display: block;
      }
      a {
        text-decoration: none;
        color: #999;
      }
    }
  }
}

.fixed {
  position: fixed;
  padding-left: 190px;
  top: 0;
  margin-top: -20px;
}
/*
.active {
  background-color: #0078a0;
  > a {
    color: #fff !important;
  }
}
*/

.extra-space {
  height: 800px;
}

}