@media print {

  $allThemes: 1, 2, 3, 4, 5, 6, 7, x;
  $themes: ();

  @each $theme in $allThemes {
    $themes: $themes, unquote('#cd-#{$theme}');
  }

  #{$themes} {

    .hidden-print {
      display: none;
    }

    .page-break {
      page-break-after: always;
    }

    // avoiding image break
    figure, .no-split-for-print {
      page-break-before: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-after: auto; /* 'always,' 'avoid,' 'left,' 'inherit,' or 'right' */
      page-break-inside: avoid; /* or 'auto' */
    }

    //show answers for print
    .panel-answer {
      display: block;
    }

  }
}
